
.container-img{

    width: 250px;
    margin: 10px;
}

.container-login{

    width: 50%;
    border-radius: 2%;
}

.search{

    height: 40px;
}

.button{

    height: 40px;
}

.button-create{

    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}